<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            #4 Low Density Polyethylene
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-card>
        <img src="/assets/plasticImages/LDPE4.jpg" alt=""/>
    </ion-card>
    <ion-card>
        <p>Bottles you can squeeze like shampoo or condiment bottles are made from LDPE,
            along with <b>plastic bread bags, six pack rings, and dry cleaning bags</b>.
            While a lot of recycling centers generally do not accept this type of plastic,
            any LDPE plastic containers with the recycling symbol can be recycled using your
            curbside recycling program.
        </p> 
        <p>
            LDPE can be recycled into more bags or trash liners and floor tiles.
        </p>
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
  </ion-content>