<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cardboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <h1 style="text-align:center">Everything You Need to Know About Cardboard Recycling</h1>
    </ion-card>
    <ion-card>
        <img src="/assets/Cardboard/Cardboard.jpg" alt=""/>
      </ion-card>
    <ion-card>
        <h2 style="padding-left: 30px; padding-right: 30px;">
            What is Cardboard?
        </h2>
        <p style="padding-left: 30px; padding-right: 30px; text-align: center;">
            Wiki definition: "Cardboard is a generic term for heavy-duty paper-based products having greater thickness and superior durability or other specific mechanical attributes to paper; such as foldability, rigidity and impact resistance". Amazon boxes, pizza boxes, shipping boxes... most boxes are cardboard!
        </p>
    </ion-card>
    <ion-card>
        <h2 style="padding-left: 30px; padding-right: 30px;">
            So... what really is recyclable?
        </h2>
        <p style="padding-left: 30px; text-align: center; padding-right: 30px;">
            Boxes, plates, tubes, paper posters are all recyclable items. Just make sure they're not contaminated with oils or grease! Laminated items such as tape or glossy posters cannot be recycled.
        </p>
    </ion-card>

    <ion-card>
        <h2 style="padding-left: 30px;">
            Frequently Asked Questions: (FAQ)
        </h2>
        <h3 style="padding-left: 30px;">
            <ul>
                <li>
                    How is Cardboard Made?
                </li>
            </ul>
        </h3>
        <p style="padding-left: 30px; padding-right: 30px; text-align: center;">
            Cardboard is made from packing fibers together tightly and drying them into sheets. Most cardboard is made from trees, wood, and plant-based materials. Because the materials have many compressed layers, cardboard is found to be much sturdier and thus a good (and inexpensive) packaging option for manufactures. Because cardboard is plant based, it has been responsible for over 50% of all recycled goods!
        </p>
    </ion-card>
    <ion-card>
        <img src="\assets\Cardboard\pizza-boxes.jpg" alt=""/>
      </ion-card>
    <ion-card>
        <h3 style="padding-left: 30px;">
            <ul>
                <li>
                    What about pizza boxes?
                </li>
            </ul>
        </h3>
        <p style="padding-left: 30px; text-align: center; padding-right: 30px">
            If the box has grease or oil on it, throw it out! Because cardboard is recycled by mixing it with water, grease and oil won't mix! It is a common misconception that pizza boxes are recyclable.
        </p>
    </ion-card>
    <ion-card>
        <img src="\assets\Cardboard\packing.jpg" alt=""/>
      </ion-card>
      <ion-card>
        <h3 style="padding-left: 30px; padding-right: 30px">
            <ul>
                <li>
                    Can the tape or packing foam from boxes be recycled?
                </li>
            </ul>
        </h3>
        <p style="padding-left: 30px; padding-right: 30px; text-align: center;">
            Unfortunately, most bubble wrap and packing foam is made from non-recyclable plastics. Check out the plastics section to learn more about all the different types of recyclable plastics!
        </p>
    </ion-card>
</ion-content>



