<ion-header>
  <ion-toolbar color="primary">
      <ion-title>#3 Polyvinyl Chloride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/assets/plasticImages/PVC3.jpg" alt=""/>
    </ion-card>
    <ion-card>
        <p>Found in <b>shampoo bottles, medical plastics, some toys (including dog)
            and window trim</b>, this plastic is typically not used for household items
            that can be consumed as it can contain phthalates.
        </p>
        <p>PVC is usually recycled into paneling, flooring, cables and decks. Most items
            made from this plastic cannot be recycled, though any PVC plastic containers
            with the recycling logo can be recycled in your curbside recycling containers.
        </p>
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
</ion-content>