<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            #7 BPA, Lexan etc.
  
        </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card>
    <img src="/assets/plasticImages/07.jpg" alt=""/>
  </ion-card>
  <ion-card>
    <p>
      This type of plastic is not easily categorized, and the easiest
      way to see whether or not it is recyclable is by the recycling
      symbol on the plastic container. If it contains the symbol, then
      it is suitable for recycling in curbside recycling programs.
    </p> 
    <p>
      However, whether any cashback recycling centers will give money for
      this type of plastic depends on the recycling program.
    </p>
  </ion-card>
  <div id="plasticDiv">
    <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
  </div>
</ion-content>