<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            #6 Polystyrene
        </ion-title>
    </ion-toolbar>
</ion-header>
  
 <ion-content>
    <ion-card>
        <img src="/assets/plasticImages/PS6.jpg" alt=""/>
    </ion-card>
    <ion-card>
        <p>Commonly referred to as 'styrofoam' this is the one kind of plastic
            that is <b>NOT accepted by any curbside recycling programs</b>.
            Styrofoam makes up Dunkin' cups (for hot liquids), meat trays,
            packing peanuts and egg cartons.
        </p>
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
</ion-content>