<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            #2 High Density Polyethylene
        </ion-title>
    </ion-toolbar>
</ion-header>
  

<ion-content>
    <ion-card>
        <img src="/assets/plasticImages/HDPE2.jpg" alt=""/>
    </ion-card>
    <ion-card>
        <p>This kind of plastic is usually colored or opaque and can be found in
            <b>milk jugs, detergent and other household cleaner bottles</b>. HDPE
            can easily be recycled into plastic lumber, more bottles or drainage
            pipes and is considered one of the safest forms of plastic.
        </p>
        <p>This type of plastic is also accepted by curbside recycling programs
            and cashback recycling programs, though plastic grocery bags are the
            exception, and are not accepted by most recycling programs of any type.
        </p>
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
  </ion-content>