<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nearest Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #mapElement class="map"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center><b>Here are some local recycling centers!</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <h3>
        City of Santa Cruz Resource Recovery Facility 
      </h3>
      605 Dimeo Ln, Santa Cruz, CA 95060
      <br><br>
      <h3>
        Ecology Action Composting
      </h3>
      211 River St, Santa Cruz, CA 95060
    </ion-card-content>
  </ion-card>
</ion-content>