<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Metal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <h1 style=" text-align:center">Everything You Need to Know About Metal Recycling</h1>
        <p style="padding-left: 30px; padding-right: 30px; text-align: center">
            There are numerous metals that can be recycled infinitely without properties changing.
        </p>
    </ion-card>
    <ion-card>
        <img src="/assets/Metal/cans.jpg" alt=""/>
      </ion-card>
      <ion-card>
          <p style="text-align:center; padding-left: 30px; padding-right: 30px">
                Steel and iron are by far the mot recycled resources on the planet. However, other types of metals are recycled at extremely high rates with almost half of North America's  aluminum supply coming from recycling. People are consistently recycling their aluminum cans, and in many states, incuding California, you can get paid for collecting aluminum cans and turning them in at recycling center.
            </p>
        </ion-card>
    <ion-card>
        <h2 style="text-align:center; padding-left: 30px; padding-right: 30px">
            What metals are recyclable?
        </h2>
        <p style="text-align:center; padding-left: 30px; padding-right: 30px">Metal recycling isn't only confined to common metals such as:</p>
        <ul>
            <li>
                Steel
            </li>
            <li>
                Iron
            </li>
            <li>
                Aluminum
            </li>
            <li>
                Brass
            </li>
        </ul>
        <p style="text-align:center; padding-left: 30px; padding-right: 30px"> As precious metals in electronics such as circuit boards and motors can be some of the most valuable recyclable materials. As many of these rare metals, such as:</p>
        
        <ul>
            <li>
                Copper
            </li>
            <li>
                Palladium
            </li>
            <li>
                Platinum
            </li>
            <li>
                Silver
            </li>
            <li>
                Gold
            </li>
        </ul>
        <p style="text-align:center; padding-left: 30px; padding-right: 30px"> Are harmful to the environment due to the damaging mining practices, the more these metals are recycled, the less these mining practices will be used.</p>
    </ion-card>
    <ion-card>
        <img src="/assets/Metal/steel.jpg" alt=""/>
      </ion-card>
    <ion-card>
        <p style="padding-left: 30px; padding-right: 30px; text-align: center">
            Steel and iron are, by far, the most recycled resources on the planet! From cars to small household products, metals are incredibly resourceful. Because such materials have extreme value, recycling them gives people an incentive and also helps reduce the amount of metal production needed-- a simple energy efficent solution!
        </p>
    </ion-card>
</ion-content>
