<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Polyethylene Terephthalate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/assets/plasticImages/PETE1.jpg" alt=""/>
    </ion-card>
    <ion-card>
        <p>The easiest plastic to recycle and most commonly found in plastic
            water/soda bottles and some food packaging. PETE is commonly
            recycled into fibers or polar fleece. <b>It is not recommended for
            reuse</b> which means it ends up in the recycling stream quickly. 
        </p>
        <p>This type of plastic is recyclable with any curbside recycling
            programs, along with practically all cashback recycling programs.
        </p> 
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
</ion-content>
