<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            #5 Polypropylene          
        </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-card>
        <img src="/assets/plasticImages/PP5.jpg" alt=""/>
    </ion-card>
    <ion-card>  
        <p>PP is durable and versatile. This is usually found in <b>medical bottles,
            yogurt tubs, cereal box liners, bottle caps, some ropes and condiment
            bottles</b>. PP can be recycled into brushes, battery cases and bike
            racks.</p> <p>Any PP plastic containers with the recycling symbol can be
            recycled using your curbside recycling program.
        </p>
    </ion-card>
    <div id="plasticDiv">
        <ion-button href="/plastic" routerDirection="backward" icon-start> <ion-icon name="arrow-round-back"></ion-icon> Back</ion-button>
    </div>
</ion-content>