<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plastic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <div id="header">
            <h1><b>Select Type of Plastic</b></h1>
        </div>

        <div id="row1">
            <ion-button class="rowDesign1" color="#4CAF50" href="/recycle1">
                <img class="resize" src="/assets/Butt1_tr.png" alt="" />
            </ion-button>            
            <ion-button class="rowDesign1" color="#4CAF50" href="/recycle2">
                <img class="resize" src="/assets/Butt2_tr.png" alt="" />
            </ion-button>
            <ion-button class="rowDesign1" color="#4CAF50" href="/recycle3">
                <img class="resize" src="/assets/Butt3_tr.png" alt="" />
            </ion-button>
        </div>


        <div id="row2">
            <ion-button class="rowDesign2" color="4CAF50" href="/recycle4">
                <img class="resize" src="/assets/Butt4_tr.png" alt="" />
            </ion-button>
            <ion-button class="rowDesign2" color="#4CAF50" href="/recycle5">
                <img class="resize" src="/assets/Butt5_tr.png" alt="" />
            </ion-button>
            <ion-button class="rowDesign2" color="#4CAF50" href="/recycle6">
                <img class="resize" src="/assets/Butt6_tr.png" alt="" />
            </ion-button>
        </div>


        <div id="row3">
            <ion-button class="rowDesign3" color="#4CAF50" href="/recycle7">
                <img class="resize" src="/assets/Butt7_tr.png" alt="" />
            </ion-button>
        </div>

        <div id="homeDiv">
            <br><br><br><br><br>
            <a href="/home" class="homeButton"><b>Go Home</b></a>
        </div>
    </div>
</ion-content>
