<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SlugCycle
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
      <ion-card class="welcome-card">
          <img src="/assets/SlugCycle.png" alt="" />
          <ion-card-content>
                 <i><b>Click a category based on what you want to recycle! Or maybe see where you can drop it off!</b></i>
          </ion-card-content>
      </ion-card>
   
      <ion-card>
          <div id ="plastic">
                  <ion-button class="picButt" color="#4CAF50" href="/plastic">
                      <img class="resize" src="/assets/homeIcons/plasticPic.png" alt=""/>
                  </ion-button>
      
              <div id="plasticRow">
                  <ion-button class="textButt" color="primary" href="/plastic">
                      Plastic
                  </ion-button>
              </div>
          </div>
      </ion-card>
   
      <ion-card>
          <div id ="cardboard">
              <ion-button class="picButt" color="#4CAF50" href="/cardboard">
                  <img class="resize" src="/assets/homeIcons/cardboardPic.png" alt=""/>
              </ion-button>
      
              <div id = "plasticRow">
                  <ion-button class="textButt" color="primary" href="/cardboard">
                      Cardboard
                  </ion-button>
              </div>
          </div>
      </ion-card>
   
      <ion-card>
          <div id ="glass">
                  <ion-button class="picButt" color="#4CAF50" href="/glass">
                      <img class="resize" src="/assets/homeIcons/glassPic.png" alt=""/>
                  </ion-button>
          
   
              <div id = "plasticRow">
                  <ion-button class="textButt" color="primary" href="/glass">
                      Glass
                  </ion-button>
              </div>
          </div>
      </ion-card>
   
      <ion-card>
          <div id ="metal">
                  <ion-button class="picButt" color="#4CAF50" href="/metal">
                      <img class="resize" src="/assets/homeIcons/metalPic.png" alt=""/>
                  </ion-button>
   
              <div id = "plasticRow">
                  <ion-button class="textButt" color="primary" href="/metal">
                      Metal
                  </ion-button>
              </div>
          </div>
      </ion-card>
   
   
      <ion-card>
          <div id ="map">
                  <ion-button class="picButt" color="#4CAF50" href="/nearestlocations">
                      <img class="resize" src="/assets/homeIcons/mapPic.png" alt=""/>
                  </ion-button>
   
              <div id = "plasticRow">
                  <ion-button class="textButt" color="primary" href="/nearestlocations">
                      Locations
                  </ion-button>
              </div>
          </div>
      </ion-card>

</ion-content>
